#anthropic
#boto3
#botocore
chromadb
#clickhouse_connect
#cohere
#duckdb
#dspy
fastembed
flasgger
#faiss
flask
flask_sock
#google-cloud-bigquery
httpx
huggingface_hub
langchain
langchain_community
langchain_core
langchain_huggingface
langchain_postgres
langgraph
#marqo
#mistral
#mistralai
numpy
openai
#opensearch-py
#oracledb
pandas
jdatetime
#pinecone-client
plotly
psycopg2-binary
pydantic
#pyhive
#pymilvus
#pymysql
#qdrant-client
#qianfan
requests
sentence-transformers
sqlalchemy
sqlparse
transformers
#vertexai
#weaviate-client
zhipuai